
.map-header {
    @include clearfix;
    position:relative;
    z-index:10;
    background:$bannerColour;
    color:$white;
    height:50px;

    h1 {
        position:fixed;
        left:$marginPx;
        height:$headerHeight;
        width:150px;
        margin:0;
        float:left;
        background: transparent url(../img/logo.gif) left center no-repeat;
    }
    
}
