/*
    _leaflet.css

    Created on : 07/01/2014, 12:54:14 PM
    Author     : Ray Walker <hello@raywalker.it>
*/

// Reset all leaflet default border radii
.leaflet-bar,
.leaflet-popup-content-wrapper,
.leaflet-bar a:first-child,
.leaflet-bar a:last-child{
    border-radius:$borderRadius;
}


.narrow .map-container {
    left:$panel-width;
}

.leaflet-bar {
    box-shadow:none;
}

.leaflet-container {
    @include typeface;
    color:#3f3f3f;
}


.leaflet-control-container {
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

/*
.leaflet-popup-content-wrapper {
    @include transition(none);
}*/

.simple-marker {
    overflow:visible;
    font-size:150%;
    
    .fa {
        position:relative;
        top:10px;
        display:block;
    }
}

.edgeMarkerCircle {
    border-radius: 50%;
    background: white;
    box-shadow: 3px 3px 9px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.12) inset, 0 0 0 2px $bannerColour;
    
    &.edge-top:hover {
        z-index:100;
        -webkit-transform: rotateY(-30deg);
    }
}