/* 
    Created on : 06/03/2014, 3:19:45 PM
    Author     : Ray Walker <hello@raywalker.it>
*/


/*
    MAP BASE STYLES
*/

#map-wrapper {
    z-index:1;
    position:absolute;
    top:50px;
    bottom:0;
    width:100%;
    background-color: $multimediaColour;
    
        a,
    a:visited {
        text-decoration:none;
        color: $linkColour;
    }

    a:hover {
        color: $linkHoverColour;
    }
    
    a:active {
        color:$linkVisitedColour;
    }
    
}


.map-container {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    opacity:0;
    @include transition (opacity 900ms);
    

    
    &.show {
        opacity:1;
    }
}

#map {
    position:relative;
    height:100%;
    width:100%;
    background:$multimediaColour; 
}


.simple-marker {
    overflow:visible;
    font-size:150%;
    
    .fa {
        position:relative;
        top:10px;
        display:block;
    }
}

.edgeMarkerCircle {
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 0 2px $bannerColour;
    @include transition(all 0.75s ease-out);
    
    &:hover,
    &.over {
        background: $bannerColour;
        box-shadow: 0 0 0 2px white;
    }
    
/*    &.edgetop {
        @include fadeInDown;
    }
    &.edgebottom {
        @include fadeInUp;
    }
    &.edgeleft {
        @include fadeInRight;
    }
    &.edgeright {
        @include fadeInLeft;
    }*/
}

.edgeMarker {
    pointer-events:none;
    border-radius:50%;
    background: white;
    
    /*@include animated;*/
    /*@include fadeInDown;*/
    
}