/*
*/
/* 
    Created on : 06/03/2014, 3:17:50 PM
    Author     : Ray Walker <hello@raywalker.it>
*/

.leaflet-popup-pane {

    a.leaflet-popup-close-button {
        text-align:right;
        padding:0;
        font-size:20px;
        top:13px;
        right:15px;
        z-index:3;
    }

    .leaflet-popup-content-wrapper {
        width:$popupWidth;
        height:$popupHeight;
        position:relative;
        background:transparent url(../img/popup.svg) center top no-repeat;
        background-size:cover;
        
        .handheld & {
            @include transform(scale(0.8));
        }
    }
    
    .leaflet-popup-content-wrapper, .leaflet-popup-tip {
        background-color: transparent;
        box-shadow:none;
    }
    
    .leaflet-popup-tip-container {
        height:27px;
        background:transparent url(../img/popup.svg) center bottom no-repeat;
        background-size: 540px, 270px;
        margin-bottom:5px;

        .leaflet-popup-tip{
            display:none;
        }
    }

}

.leaflet-popup-content {
    margin:0;
    width:100%;
    height:100%;
    padding:0 20px;
    
    h1 {
        font-size:14px;
        line-height:20px;
        font-weight:400;
        color:lighten($fontColor, 50%);
        text-transform: uppercase;


        span {
            /*font-size:80%;*/
            position:absolute;
            right:35px;
            display:block;
        }

        img {
            height:20px;
            position:relative;
            top:-2px;
        }
    }


    .popupContent {
        overflow:hidden;
    }

    .summary {
        margin-bottom:10px;
        max-height:$popupContentHeight;
        overflow-y: auto;

        h2 {
            margin:0 0 10px;
            color:lighten($fontColor, 30%);
        }
    }

    .image {

        figure {
            position:relative;
            height:$popupContentHeight;
            float:left;
            width:$imageWidth;
            overflow:hidden;
            margin-right:4%;
            text-align:center;
            display:table-cell;
            background: #888 url(../img/pattern-light.svg) top left repeat;

            span {
                display:inline-block;
                height:100%;
                width:1px;
            }

            img {
                position:absolute;
                top:0;
                bottom:0;
                margin:auto;
                width:auto;
                min-height:$popupContentHeight;
                display: table-cell; /*IE8 Hack*/
                vertical-align:middle; /*IE8 Hack*/
                *margin-top: expression((parentNode.offsetHeight.offsetHeight/2)-(parseInt(this.offsetHeight)/2) +'px'); /*IE7 Hack*/


            }

            a:hover {
                @include opacity(0.8);

            }

            figcaption {
                background:rgba(255,255,255,0.7);
                color:#222;
                position:absolute;
                bottom:-2px;
                padding:2px 5px;
                line-height:20px;
            }
        }

        .summary { 
            width:$imageContentWidth;
            float:left;
        }
    }

    footer {
        clear:both;
        left:0;
        width:100%;
        position:absolute;
        bottom:0;
        overflow:hidden;
        padding:1px 2px 1px 20px;
        background:$popupFooterColour;
        @include border-bottom-radius(3px);

        .location {
            line-height:$popupFooterHeight;
            margin:0;
            float:left;
            width: 45%;
            color:lighten($fontColor, 30%);;
        }

        .meta {
            float:right;
            width:45%;
            text-align:right;

            time {
                line-height:$popupFooterHeight;
                display:inline-block;
                color:lighten($fontColor, 30%);

                abbr { 
                    text-decoration:none;
                    border-bottom: 1px dotted #ccc;
                }
            }

            nav {
                margin-left:1em;
                line-height:$popupFooterHeight;
                display:inline-block;

                button {
                    color:lighten($fontColor, 30%);
                    border: none;
                    height:$popupFooterHeight - 4px;
                    width:$popupFooterHeight - 4px;
                    background:rgba(255,255,255,0.6);

                    &:hover {
                        color:$linkColour;
                        background:rgba(255,255,255,1);
                    }

                    &:disabled {
                        @include opacity(0.5);

                        pointer-events:none;
                        color:#ccc;
                    }
                }
            }
        }

    }
}







