// CSS normalize.css reset
@import "modules/normalize";

// See modules/_base.scss
@import "modules/base";

@import "partials/header";
@import "partials/footer";
@import "partials/ie";

@import "vendor/leaflet";
@import "partials/leaflet";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

body {
    @include typeface;
    
}

a,
a:visited {
    text-decoration:none;
    color:$submenuColour;
}

a:hover {
    color:$titlesColour;
}

a:focus,
a:active {
    color:$submenuColour;
}

#shipping-map {
    z-index:1;
    position:absolute;
    height:100%;
    top:0;
    bottom:0;
    width:100%;
    background-color: $multimediaColour;
}


.map-container {
    position:absolute;
    top:50px;
    bottom:0;
    width:100%;
    opacity:0;
    @include transition (opacity 900ms);
    
        
    &.show {
        opacity:1;
    }
}

#map {
    position:relative;
    height:100%;
    width:100%;
    background:$multimediaColour; 
}

