<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Mappitymap</title>
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
        <![endif]-->
        
        <!--[if lt IE 9]>
            <script src="js/vendor/html5shiv.js"></script>
        <![endif]-->
        
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
       
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <article id="shipping-map">
            
            <header class="map-header">
                <h1>
                    <span class="visuallyhidden">Greenpeace</span>
                </h1>
                
                <button class="menu-trigger"><span>Show Menu</span></button>
                
                <nav class="menu-container">
                    <script id="shipMenuTemplate" type="text/x-jsrender">
                        <li class={{:simpleName}}>
                            <button data-ship-id="{{:id}}">
                                <span class="icon">
                                    <img src="{{:icon}}"></img>
                                </span>
                                {{:name}}
                            </button>
                        </li>
                    </script>
                    
                    <script id="featureMenuTemplate" type="text/x-jsrender">
                        <li class={{:type}}>
                            <button data-feature-type="{{:type}}">
                                <span class="icon">
                                    <i class="fa fa-{{:icon}}"></i>
                                </span>
                                {{:name}}
                            </button>
                        </li>
                    </script>
                    
                    
                    <ul class="map-menu">
                        <li class="ships">
                            <button class="toggleMenu">Display ships</button>
                            <ul>
                            </ul>
                        </li>
                        <li class="features">
                            <button class="toggleMenu">Events</button>
                            <ul>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Get Involved</a>                            
                        </li>
                        <li>
                            <a href="#">Donate</a>                            
                        </li>
                        <li>
                            <a href="#">Home</a>                            
                        </li>
                    </ul>
                </nav>
            </header>
            
            <div class="map-container">
                
                <script id="featurePopupTemplate" type="text/x-jsrender">
                    <article class="ship-popup" data-ship-name="{{:nameSimple}}" data-ship-event-index="{{:index}}" data-ship-id="{{:id}}">
                        <header>
                            <h1>
                                <span class="type">
                                    {{if icon}}<i class="fa-{{:icon}}"></i>{{/if}}
                                    {{:eventType}}
                                </span>
                                {{:index + 1}}. {{:title}}
                            </h1>
                            <time datetime="{{:datetime}}" title="{{:datetime}}">{{:humanTime}}</time>
                        </header>
                        <div class="summary">{{:summary}}</div>
                        {{if prev || next }}<nav>
                            {{if prev !== false}}<button class="prev" data-trigger-index="{{:prev}}"><i class="fa fa-angle-left"></i></button>{{/if}}
                            {{if next !== false}}<button class="next" data-trigger-index="{{:next}}"><i class="fa fa-angle-right"></i></button>{{/if}}
                        </nav>{{/if}}
                    </article>
                </script>
                
                <div id="map">
                </div>
            </div>

            <footer class="map-footer">
                &COPY; Greenpeace | 2013 <a href="#">Legal</a>
            </footer>

        </article>

        <!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>-->

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js">\x3C/script>');</script>

        <script src="js/vendor/leaflet.js"></script>
        <script src="js/vendor/plugins/leaflet.edgeMarker.js"></script>
        <script src="js/vendor/plugins/leaflet.polylineDecorator.js"></script>
        <script src="js/vendor/plugins/leaflet.simple-markers.js"></script>
        <script src="js/vendor/plugins/leaflet.markercluster-src.js"></script>
        <script src="js/vendor/plugins/jquery.jPanelMenu-1.3.0.js"></script>
        <script src="js/vendor/plugins/jRespond.min.js"></script>
        <script src="js/vendor/plugins/jsrender.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--        <script>
                    var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
                    (function(d, t) {
                        var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
                        g.src = '//www.google-analytics.com/ga.js';
                        s.parentNode.insertBefore(g, s)
                    }(document, 'script'));
                </script>-->
    </body>
</html>
    