/* 
    Created on : 24/03/2014, 7:23:02 PM
    Author     : Ray Walker <hello@raywalker.it>
*/

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* {
    outline:none;
	@include box-sizing(border-box);    
}

// Full screen the page
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

/*
    TYPOGRAPHY
*/
body {
    @include typeface;
}