/* 
    Created on : 14/01/2014, 4:20:55 PM
    Author     : Ray Walker <hello@raywalker.it>
*/


$white:             #ffffff;

$fontColor:         #222222;

$bannerColour:      #66cc00; // bright green

$submenuColour:     #56b105; // slightly darker green

$sidebarTextColour: #183319; // darker green

$titlesColour:      #003300; // dark green

$multimediaColour:  #5f6169; // light grey

$mobileFooterColour:#4d535f; // darker grey

$sidebarColour:     #eaecf3; // very light grey

$debugColor:    pink; 

$borderRadius: 0;

$marginPx: 10px;
$headerHeight: 50px;


// Media query breakpoints

$break-small: 320px;

$break-large: 1200px;

$panel-width: 320px;

// Popup configuration

$popupFooterHeight: 25px;
