.icon-AS-map.min { background-image: url('png/retina/AS-map.min.png'); background-repeat: no-repeat; }

.icon-ES-map.min { background-image: url('png/retina/ES-map.min.png'); background-repeat: no-repeat; }

.icon-RW-map.min { background-image: url('png/retina/RW-map.min.png'); background-repeat: no-repeat; }

