.icon-AS-legend.min { background-image: url('png/retina/AS-legend.min.png'); background-repeat: no-repeat; }

.icon-ES-legend.min { background-image: url('png/retina/ES-legend.min.png'); background-repeat: no-repeat; }

.icon-RW-legend.min { background-image: url('png/retina/RW-legend.min.png'); background-repeat: no-repeat; }

