
.map-header {
    @include clearfix;
    position:relative;
    z-index:10;
    background:$bannerColour;
    color:$white;
    height:50px;

    h1 {
        position:fixed;
        left:$marginPx;
        height:$headerHeight;
        width:150px;
        margin:0;
        float:left;
        background: transparent url(../img/logo.gif) left center no-repeat;
    }


    nav {
        position:fixed;
        right:0;
        overflow:hidden;
        @include transition(all 0.35s);
    }
    
    .menu-trigger {
            @include transition(all 0.35s);
            position:fixed;
           
            right:0;
            
            height:$headerHeight;
            width:$headerHeight;
            font-size:120%;
            
            background:rgba(255,255,255,0.1);
            padding:0;
            border:none;
            text-align:center;

            span {
                position:absolute;
                left:12px;
                height:3px;
                background-color:$white;
                top:50%;
                margin-top:-2px;
                width:30px;
                font-size:0;
                @include transition(all 0.3s);
                
                &::before,
                &::after {
                    position: absolute;
                    left: 0;
                    width: 30px;
                    height: 100%;
                    background: #fff;
                    content: '';
                    -webkit-transition: -webkit-transform 0.3s;
                    transition: transform 0.3s;
                }
                
                &::before {
                    -webkit-transform: translateY(-300%);
                    transform: translateY(-300%);
                }
                
                &::after {
                    -webkit-transform: translateY(300%);
                    transform: translateY(300%);
                }
                

/*                float:left;
                display:block;
                width: 36px;
                height:35px;
                background:transparent url(../img/icons/general-nav.png) top left no-repeat;*/
            }

            &.active {
            
                span {
                    
                    background-color:transparent;
                    
                        
                    &::before {
                        background-color: $sidebarTextColour;
                        -webkit-transform: translateY(0) rotate(45deg);
                        transform: translateY(0) rotate(45deg);
                    }
                    &::after {
                        background-color: $sidebarTextColour;
                        -webkit-transform: translateY(0) rotate(-45deg);
                        transform: translateY(0) rotate(-45deg);
                    }

                    
                }
                
                &:hover {
                        
                        @include opacity(0.5);
                        
                        & span::before {
                            -webkit-transform: translateY(0) rotate(30deg);
                            transform: translateY(0) rotate(30deg);
                        }
                        
                        & span::after {
                            -webkit-transform: translateY(0) rotate(-30deg);
                            transform: translateY(0) rotate(-30deg);
                        }
                    }
                    
            }
            
            &:hover {
                background:rgba(255,255,255,0.5);
            }
        }
}

.map-menu {
    position:relative;
    margin:0;
    display:none;
    padding:$headerHeight 20px 0;
    background:white;
    clear:both;
    overflow-y:auto !important;
    padding:$headerHeight 0 0;
    float:left;
    width:100%;
    list-style-type:none;
    border-bottom:none;
    
    a,
    a:visited {
        display:block;
        width:100%;
        color: $sidebarTextColour;
        background:$multimediaColour;
        @include button(flat, #ffffff, $sidebarTextColour);
        border-bottom:1px solid #ccc;
    }

    button {
        text-align:left;
        color: $sidebarTextColour;
        @include button(flat, white, $sidebarTextColour);
        min-height:55px; 
        vertical-align:middle;
        width:100%;
        border-bottom:1px solid #ccc;
    }
    
    ul {
        list-style-type: none;
        margin:0;
        padding:0;
  
        button {
            text-indent:10px;
            
            height: 40px;
            
            .icon {
                margin-left:-10px;
                color: #004c00;
                font-size: 150%;
                width:50px;
                text-align:center;
                margin-right: 1em;
                display:inline-block;
                
                &::before {
                    vertical-align: -2px;
                }
            }
            
            i,img {
                display:block;
            }
            
            img {
                width:40px;
            }
            
            &.hideLayer {
                color:#ccc;
            }
        }
        
        &.close {
            display:none;
        }
    }
    
    li {
        text-align:left;
        width:100%;
        background:$multimediaColour;
        padding:0;
    }

    .ships {
        border-bottom:1px solid #ccc;
    }
}

body > #jPanelMenu-menu {
    overflow-y:auto;
    
    .map-menu {
    display:block;
}   
}