/*
*/
/* 
    Created on : 07/01/2014, 12:54:14 PM
    Author     : Ray Walker <hello@raywalker.it>
*/

// Reset all leaflet default border radii
.leaflet-bar,
.leaflet-popup-content-wrapper,
.leaflet-bar a:first-child,
.leaflet-bar a:last-child{
    border-radius:$borderRadius;
}


#shipping-map > div.narrow {
    position:relative;
    left:$panel-width;
}

.leaflet-bar {
    box-shadow:none;
}

/*
.leaflet-popup-content-wrapper {
    @include transition(none);
}*/

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background:rgba(255,255,255,0.8);
}

.leaflet-popup-pane {
    
    a.leaflet-popup-close-button {
        text-align:right;
        padding:3px 0 0;
        font-size:20px;
        top:10px;
        right:10px;
    }
}

.leaflet-popup-content {
    margin:10px;
    min-width:140px;
    

    
    h1 {
        font-size:14px;
        
        span {
            font-size:90%;
            color:lighten($fontColor, 50%);
            display:block;
        }
    }


    time {
        display:block;
        color:lighten($fontColor, 50%);
    }
    
    .summary {
        margin-bottom:10px;
    }

}