.icon-AS-legend.min { background-image: url('../img/icon/png/AS-legend.min.png'); background-repeat: no-repeat; }

.icon-ES-legend.min { background-image: url('../img/icon/png/ES-legend.min.png'); background-repeat: no-repeat; }

.icon-RW-legend.min { background-image: url('../img/icon/png/RW-legend.min.png'); background-repeat: no-repeat; }

