.icon-AS-map.min { background-image: url('../img/icon/png/AS-map.min.png'); background-repeat: no-repeat; }

.icon-ES-map.min { background-image: url('../img/icon/png/ES-map.min.png'); background-repeat: no-repeat; }

.icon-RW-map.min { background-image: url('../img/icon/png/RW-map.min.png'); background-repeat: no-repeat; }

