/* 
    Created on : 14/01/2014, 4:20:55 PM
    Author     : Ray Walker <hello@raywalker.it>
*/
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/**
 * Project colour palette
 */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  *font-size: 100%;
  /* 3 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  *display: inline;
  *zoom: 1; }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
     * Addresses margins set differently in IE 6/7.
     */
p, pre {
  *margin: 1em 0; }

/*
     * Addresses CSS quotes not supported in IE 6/7.
     */
q {
  *quotes: none; }

/*
     * Addresses `quotes` property not supported in Safari 4.
     */
q:before, q:after {
  content: '';
  content: none; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
       Lists
       ========================================================================== */
/*
     * Addresses margins set differently in IE 6/7.
     */
dl, menu, ol, ul {
  *margin: 1em 0; }

dd {
  *margin: 0 0 0 40px; }

/*
     * Addresses paddings set differently in IE 6/7.
     */
menu, ol, ul {
  *padding: 0 0 0 40px; }

/*
     * Corrects list images handled incorrectly in IE 7.
     */
nav ul, nav ol {
  *list-style: none;
  *list-style-image: none; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  *-ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  white-space: normal;
  /* 3 */
  *margin-left: -7px;
  /* 4 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* 
    Created on : 24/03/2014, 7:23:02 PM
    Author     : Ray Walker <hello@raywalker.it>
*/
* {
  box-sizing: border-box;
  outline: none; }

/**
    @mixin opacity Sets opacity to element with vendor prefixes.
    @param decimal - decimal point for opacity
    @usage @include opacity(.5);
*/
.flip-horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.flip-vertical {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: flipv;
  /*IE*/
  filter: flipv;
  /*IE*/ }

.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }

.quickFadeOut {
  -webkit-transition: opacity ease-out 150ms;
  -moz-transition: opacity ease-out 150ms;
  transition: opacity ease-out 150ms;
  -webkit-opacity: 0;
  -ms-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=$percent)";
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$decimal); }

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* required styles */
.leaflet-map-pane, .leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile-pane, .leaflet-tile-container, .leaflet-overlay-pane, .leaflet-shadow-pane, .leaflet-marker-pane, .leaflet-popup-pane, .leaflet-overlay-pane svg, .leaflet-zoom-box, .leaflet-image-layer, .leaflet-layer {
  position: absolute;
  left: 0;
  top: 0; }

.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none; }

.leaflet-tile, .leaflet-marker-icon, .leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.leaflet-marker-icon, .leaflet-marker-shadow {
  display: block; }

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important; }

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important; }

.leaflet-tile {
  filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0; }

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-tile-pane {
  z-index: 2; }

.leaflet-objects-pane {
  z-index: 3; }

.leaflet-overlay-pane {
  z-index: 4; }

.leaflet-shadow-pane {
  z-index: 5; }

.leaflet-marker-pane {
  z-index: 6; }

.leaflet-popup-pane {
  z-index: 7; }

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto; }

.leaflet-top, .leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile, .leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.leaflet-fade-anim .leaflet-tile-loaded, .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1); }

.leaflet-zoom-anim .leaflet-tile, .leaflet-pan-anim .leaflet-tile, .leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer; }

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.leaflet-popup-pane, .leaflet-control {
  cursor: auto; }

.leaflet-dragging, .leaflet-dragging .leaflet-clickable, .leaflet-dragging .leaflet-container {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline: 0; }

.leaflet-container a {
  color: #0078A8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid orange; }

.leaflet-zoom-box {
  border: 2px dotted #05f;
  background: white;
  opacity: 0.5; }

/* general typography */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* general toolbar styles */
.leaflet-bar {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.leaflet-bar a, .leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar a, .leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: #f4f4f4; }

.leaflet-bar a:first-child {
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

.leaflet-bar a:last-child {
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb; }

.leaflet-touch .leaflet-bar {
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px; }

.leaflet-touch .leaflet-bar a:first-child {
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-right-radius: 7px; }

.leaflet-touch .leaflet-bar a:last-child {
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom: none; }

/* zoom control */
.leaflet-control-zoom-in {
  font: bold 18px 'Lucida Console', Monaco, monospace; }

.leaflet-control-zoom-out {
  font: bold 22px 'Lucida Console', Monaco, monospace; }

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
  line-height: 30px; }

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 28px;
  line-height: 30px; }

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  background: #f8f8f9;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  margin: 0; }

.leaflet-control-attribution, .leaflet-control-scale-line {
  padding: 0 5px;
  color: #333; }

.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  color: black;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #fff;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow: hidden; }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 4px solid rgba(0, 0, 0, 0.3); }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  -webkit-border-radius: 12px;
  border-radius: 12px; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

.leaflet-editing-icon {
  -webkit-border-radius: 2px;
  border-radius: 2px; }

/*
Author: L. Voogdt
License: MIT
Version: 1.0
*/
/* Marker setup */
.awesome-marker {
  background: url('../img/icons/markers-soft.png') no-repeat 0 0;
  width: 35px;
  height: 46px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  text-align: center; }

.awesome-marker-shadow {
  background: url('../img/icons/markers-shadow.png') no-repeat 0 0;
  width: 36px;
  height: 16px; }

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .awesome-marker {
    background-image: url('../img/icons/markers-soft@2x.png');
    background-size: 465px 46px; }
  .awesome-marker-shadow {
    background-image: url('../img/icons/markers-shadow@2x.png');
    background-size: 35px 16px; } }

.awesome-marker i {
  color: #333;
  margin-top: 10px;
  display: inline-block;
  font-size: 14px; }

.awesome-marker .icon-white {
  color: #fff; }

/* Colors */
.awesome-marker-icon-white {
  background-position: 0 0; }

.awesome-marker-icon-lightgrey {
  background-position: -36px 0; }

.awesome-marker-icon-darkgrey {
  background-position: -72px 0; }

.awesome-marker-icon-red {
  background-position: -108px 0; }

.awesome-marker-icon-darkred {
  background-position: -288px 0; }

.awesome-marker-icon-orange {
  background-position: -144px 0; }

.awesome-marker-icon-green {
  background-position: -180px 0; }

.awesome-marker-icon-darkgreen {
  background-position: -360px 0; }

.awesome-marker-icon-blue {
  background-position: -216px 0; }

.awesome-marker-icon-darkblue {
  background-position: -324px 0; }

.awesome-marker-icon-purple {
  background-position: -252px 0; }

.awesome-marker-icon-darkpurple {
  background-position: -396px 0; }

.awesome-marker-icon-cadetblue {
  background-position: -432px 0; }

/* 
    Created on : 06/03/2014, 3:19:45 PM
    Author     : Ray Walker <hello@raywalker.it>
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

/*
    TYPOGRAPHY
*/
body {
  font-family: "Helvetica", Arial, sans-serif; }

/*
    MAP BASE STYLES
*/
#shipping-map {
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #5f6169; }
  #shipping-map a, #shipping-map a:visited {
    text-decoration: none;
    color: #46803C; }
  #shipping-map a:hover {
    color: #75b969; }
  #shipping-map a:active {
    color: #203b1b; }

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 900ms;
  -moz-transition: opacity 900ms;
  transition: opacity 900ms; }
  .map-container.show {
    opacity: 1; }

#map {
  position: relative;
  height: 100%;
  width: 100%;
  background: #5f6169; }

.map-header {
  *zoom: 1;
  z-index: 10;
  background: #66cc00;
  color: #ffffff;
  height: 50px; }
  .map-header:before, .map-header:after {
    content: " ";
    display: table; }
  .map-header:after {
    clear: both; }
  .map-header h1 {
    left: 10px;
    height: 50px;
    width: 150px;
    margin: 0 0 0 10px;
    float: left;
    background: transparent url(../img/logo.gif) left center no-repeat; }

/*
*/
/* 
    Created on : 07/03/2014, 11:55:46 AM
    Author     : Ray Walker <hello@raywalker.it>
*/
.menu-container {
  position: fixed;
  right: 0;
  overflow-y: auto;
  background: #efefef;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }

.menu-trigger {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  position: fixed;
  right: 0;
  height: 50px;
  width: 50px;
  font-size: 120%;
  background: rgba(255, 255, 255, 0.1);
  padding: 0;
  border: none;
  text-align: center; }
  .menu-trigger span {
    position: absolute;
    left: 12px;
    height: 3px;
    background-color: #ffffff;
    top: 50%;
    margin-top: -2px;
    width: 30px;
    font-size: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    /*                float:left;
                        display:block;
                        width: 36px;
                        height:35px;
                        background:transparent url(../img/icons/general-nav.png) top left no-repeat;*/ }
    .menu-trigger span::before, .menu-trigger span::after {
      position: absolute;
      left: 0;
      width: 30px;
      height: 100%;
      background: #fff;
      content: '';
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s; }
    .menu-trigger span::before {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%); }
    .menu-trigger span::after {
      -webkit-transform: translateY(300%);
      transform: translateY(300%); }
  .menu-trigger.active span {
    background-color: transparent; }
    .menu-trigger.active span::before {
      background-color: white;
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg); }
    .menu-trigger.active span::after {
      background-color: white;
      -webkit-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg); }
  .menu-trigger.active:hover {
    background: #90ff1a; }
    .menu-trigger.active:hover span::before {
      -webkit-transform: translateY(0) rotate(36deg);
      transform: translateY(0) rotate(36deg); }
    .menu-trigger.active:hover span::after {
      -webkit-transform: translateY(0) rotate(-36deg);
      transform: translateY(0) rotate(-36deg); }
  .menu-trigger:hover {
    background: #90ff1a; }
    .menu-trigger:hover span::before {
      -webkit-transform: translateY(-350%);
      transform: translateY(-350%); }
    .menu-trigger:hover span::after {
      -webkit-transform: translateY(350%);
      transform: translateY(350%); }

.map-menu {
  position: relative;
  margin: 0;
  display: none;
  padding: 50px 20px 0;
  background: #66cc00;
  clear: both;
  padding: 50px 0 0;
  float: left;
  width: 100%;
  list-style-type: none;
  border-bottom: none; }
  .map-menu a, .map-menu button {
    font-size: 110%;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    line-height: 40px; }
    .map-menu a:hover, .map-menu button:hover {
      -webkit-opacity: 0.8;
      -ms-opacity: 0.8;
      -moz-opacity: 0.8;
      -o-opacity: 0.8;
      opacity: 0.8;
      filter: alpha(opacity=80);
      -ms-filter: "alpha(opacity=$percent)";
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$decimal); }
    .map-menu a.hideLayer, .map-menu button.hideLayer {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
      /* Firefox 10+, Firefox on Android */
      filter: gray;
      /* IE6-9 */
      -webkit-filter: grayscale(100%);
      /* Chrome 19+, Safari 6+, Safari 6+ iOS */
      color: #888; }
  .map-menu a, .map-menu a:visited {
    display: block;
    width: 100%;
    background: #5f6169;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #46803C;
    display: inline-block;
    padding: 0 1.5em;
    text-decoration: none;
    background-clip: padding-box;
    background: #ffffff;
    border-bottom: 1px solid #ccc; }
    .map-menu a:hover:not(:disabled), .map-menu a:visited:hover:not(:disabled) {
      cursor: pointer; }
  .map-menu button {
    text-align: left;
    color: #46803C;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: #46803C;
    display: inline-block;
    padding: 0 1.5em;
    text-decoration: none;
    background-clip: padding-box;
    background: white;
    vertical-align: middle;
    width: 100%;
    border-bottom: 1px solid #ccc; }
    .map-menu button:hover:not(:disabled) {
      cursor: pointer; }
  .map-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .map-menu ul button {
      text-indent: 10px;
      height: 40px; }
    .map-menu ul .ship span {
      width: 40px;
      display: inline; }
      .map-menu ul .ship span i {
        display: block;
        float: left;
        margin: 0 5px 0 10px; }
    .map-menu ul .fa {
      width: 40px;
      margin-right: 10px;
      vertical-align: middle;
      font-size: 150%; }
    .map-menu ul img {
      text-align: center; }
    .map-menu ul.close {
      display: none; }
  .map-menu li {
    text-align: left;
    width: 100%;
    padding: 0; }
  .map-menu .ships {
    border-bottom: none; }

#jPanelMenu-menu {
  overflow-y: auto !important; }
  #jPanelMenu-menu .map-menu {
    display: block; }

.map-footer {
  position: fixed;
  z-index: 10;
  padding: 5px;
  bottom: 0;
  left: 0;
  color: #ffffff;
  background: #4d535f; }
  .map-footer a {
    text-decoration: none;
    color: #66cc00; }
    .map-footer a:hover {
      color: #84ff00; }

/*
    _leaflet.css

    Created on : 07/01/2014, 12:54:14 PM
    Author     : Ray Walker <hello@raywalker.it>
*/
.leaflet-bar, .leaflet-popup-content-wrapper, .leaflet-bar a:first-child, .leaflet-bar a:last-child {
  border-radius: 0; }

.narrow .map-container {
  left: 320px; }

.leaflet-bar {
  box-shadow: none; }

.leaflet-control-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); }

/*
.leaflet-popup-content-wrapper {
    @include transition(none);
}*/
.simple-marker {
  overflow: visible;
  font-size: 150%; }
  .simple-marker .fa {
    position: relative;
    top: 10px;
    display: block; }

.edgeMarkerCircle {
  border-radius: 50%;
  background: white;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3); }

/*
*/
/* 
    Created on : 04/02/2014, 11:00:18 PM
    Author     : Ray Walker <hello@raywalker.it>
*/
.ship-icon {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.zoom-2 .ship-icon, .zoom-3 .ship-icon, .zoom-4 .ship-icon, .zoom-5 .ship-icon {
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3); }

.zoom-6 .ship-icon, .zoom-7 .ship-icon {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7); }

.zoom-8 .ship-icon {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }



/* 
    Created on : 06/03/2014, 3:17:50 PM
    Author     : Ray Walker <hello@raywalker.it>
*/
.leaflet-popup-pane .leaflet-popup > .leaflet-popup-close-button {
  display: none; }
.leaflet-popup-pane .leaflet-popup-content-wrapper {
  width: 588px;
  height: 317px;
  position: relative;
  /*margin-bottom:50px;*/
  /*background:transparent url(../img/popup.svg) center top no-repeat;*/
  /*background-size:cover;*/ }
  .handheld .leaflet-popup-pane .leaflet-popup-content-wrapper {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }
.leaflet-popup-pane .leaflet-popup-content-wrapper, .leaflet-popup-pane .leaflet-popup-tip {
  background-color: transparent;
  box-shadow: none; }
.leaflet-popup-pane .leaflet-popup-tip-container {
  display: none;
  /*background:transparent url(../img/popup.svg) center bottom no-repeat;*/
  /*background-size: 540px, 270px;*/
  /*margin-bottom:5px;*/ }
  .leaflet-popup-pane .leaflet-popup-tip-container .leaflet-popup-tip {
    display: none; }

.ship-popup {
  padding: 10px 20px; }

.leaflet-popup-content {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0; }
  .leaflet-popup-content h1 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #a2a2a2;
    text-transform: uppercase; }
    .leaflet-popup-content h1 i {
      display: inline-block;
      height: 20px;
      width: 20px; }
    .leaflet-popup-content h1 .close-button {
      font-size: 120%;
      display: inline;
      position: relative; }
    .leaflet-popup-content h1 span {
      /*font-size:80%;*/
      float: right; }
    .leaflet-popup-content h1 img {
      height: 20px;
      position: relative;
      top: -2px; }
  .leaflet-popup-content .popupContent {
    overflow: hidden; }
  .leaflet-popup-content .summary {
    margin-bottom: 10px;
    max-height: 187px;
    overflow-y: auto; }
    .leaflet-popup-content .summary h2 {
      margin: 0 0 10px;
      color: #6f6f6f; }
  .leaflet-popup-content .image figure {
    position: relative;
    height: 187px;
    float: left;
    width: 45%;
    overflow: hidden;
    margin: 0 4% 1em 0;
    text-align: center;
    display: table-cell;
    background: #ccc; }
    .leaflet-popup-content .image figure span {
      display: inline-block;
      height: 100%;
      width: 1px; }
    .leaflet-popup-content .image figure img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      min-height: 187px;
      display: table-cell;
      /*IE8 Hack*/
      vertical-align: middle;
      /*IE8 Hack*/ }
    .leaflet-popup-content .image figure a {
      -webkit-transition: all 250ms ease-out;
      -moz-transition: all 250ms ease-out;
      transition: all 250ms ease-out; }
    .leaflet-popup-content .image figure a:hover {
      -webkit-opacity: 0.8;
      -ms-opacity: 0.8;
      -moz-opacity: 0.8;
      -o-opacity: 0.8;
      opacity: 0.8;
      filter: alpha(opacity=80);
      -ms-filter: "alpha(opacity=$percent)";
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$decimal); }
    .leaflet-popup-content .image figure figcaption {
      background: rgba(255, 255, 255, 0.7);
      color: #222;
      position: absolute;
      bottom: -2px;
      padding: 2px 5px;
      line-height: 20px; }
  .leaflet-popup-content .image .summary {
    width: 50%;
    float: left; }
  .leaflet-popup-content footer {
    clear: both;
    left: 1px;
    width: 100%;
    position: absolute;
    bottom: 32px;
    overflow: hidden;
    padding: 1px 2px 1px 20px;
    background: #e5e5e5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .leaflet-popup-content footer .location {
      line-height: 31.7px;
      margin: 0;
      float: left;
      width: 55%;
      height: 31.7px;
      color: #6f6f6f;
      text-overflow: ellipsis; }
    .leaflet-popup-content footer .meta {
      float: right;
      width: 35%;
      text-align: right; }
      .leaflet-popup-content footer .meta time {
        line-height: 31.7px;
        display: inline-block;
        color: #6f6f6f; }
        .leaflet-popup-content footer .meta time abbr {
          text-decoration: none;
          border-bottom: 1px dotted #ccc; }
      .leaflet-popup-content footer .meta nav {
        margin-left: 1em;
        line-height: 31.7px;
        display: inline-block; }
        .leaflet-popup-content footer .meta nav button {
          color: #6f6f6f;
          border: none;
          height: 27.7px;
          width: 27.7px;
          background: rgba(255, 255, 255, 0.6); }
          .leaflet-popup-content footer .meta nav button:hover {
            color: #46803C;
            background: white; }
          .leaflet-popup-content footer .meta nav button:disabled {
            -webkit-opacity: 0.5;
            -ms-opacity: 0.5;
            -moz-opacity: 0.5;
            -o-opacity: 0.5;
            opacity: 0.5;
            filter: alpha(opacity=50);
            -ms-filter: "alpha(opacity=$percent)";
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$decimal);
            pointer-events: none;
            color: #ccc; }
