/* 
    Created on : 14/01/2014, 4:20:55 PM
    Author     : Ray Walker <hello@raywalker.it>
*/

/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
$legacy_browser_support: true;

/**
 * Project colour palette
 */
$white:             #ffffff;

$fontColor:         #222222;

$iconGreen:         #46803C; // yet another green

$bannerColour:      #66cc00; // bright green

$submenuColour:     #56b105; // slightly darker green

$sidebarTextColour: #183319; // darker green

$titlesColour:      #003300; // dark green

$multimediaColour:  #5f6169; // light grey

$mobileFooterColour:#4d535f; // darker grey

$sidebarColour:     #eaecf3; // very light grey

$debugColor:    pink; 


// Some default styles

$borderRadius: 0;

$marginPx: 10px;

// Header

$headerHeight: 50px;

// Sidemenu

$sideMenuHeight: 40px;


// Links

$linkColour: $iconGreen;

$linkHoverColour: lighten($linkColour, 20%);

$linkVisitedColour: darken($linkColour, 20%);


// Media query breakpoints

$break-small: 320px;

$break-large: 1200px;

$panel-width: 320px;

// Popup configuration

$popupWidth:590px;
$popupHeight: $popupWidth / 2.12;

$popupContentHeight: $popupWidth / 3;


$figureHeight: 176px;
$imageWidth: 45%;
$imageContentWidth: 50%;

$popupFooterColour: #e5e5e5;

$popupFooterHeight: $popupHeight / 10;


