<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Greenpeace Ship Map</title>
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" href="css/style.css">
        
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
        <![endif]-->

        <script src="js/modernizr.js"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <header class="map-header">
                <h1 class="image-replacement">
                    Greenpeace
                </h1>
                <button class="menu-trigger"><span>Show Menu</span></button>
    </header>
        <section id="shipping-map">
                
                <nav class="menu-container">
                    <script id="shipMenuTemplate" type="text/x-jsrender">
                        <li class="ship {{:simpleName}}">
                            <button data-ship-id="{{:id}}">
                                <span><i class="{{:className}}"></i>
                                {{:name}}</span>
                            </button>
                        </li>
                    </script>
                    
                    <script id="featureMenuTemplate" type="text/x-jsrender">
                        <li class="{{:type}}">
                            <button data-feature-type="{{:type}}">
                                <i class="fa {{:icon}}"></i>
                                {{:name}}
                            </button>
                        </li>
                    </script>
                    
                    <ul class="map-menu">
                        <li class="ships">
                            <button class="toggleMenu">Display ships</button>
                            <ul>
                            </ul>
                        </li>
                        <li class="features">
                            <button class="toggleMenu">Events</button>
                            <ul>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Get Involved</a>                            
                        </li>
                        <li>
                            <a href="#">Donate</a>                            
                        </li>
                        <li>
                            <a href="#">Home</a>                            
                        </li>
                    </ul>
                </nav>
            
            <div class="map-container">
                
                <script id="featurePopupTemplate" type="text/x-jsrender">
                    <article class="ship-popup {{:extraClasses}} popup-bg" data-ship-name="{{:ship.nameSimple}}" data-ship-event-index="{{:index}}" data-ship-id="{{:ship.shipID}}">
                        <header>
                            <h1>
                                <span class="type">                                    
                                    {{:feature.type.name}}
                                    <a href="#close" class="close-button">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </span>
                                <i class="icon-{{:ship.shipID}}-legend">&nbsp;</i> {{:ship.name}} #{{:index + 1}}
                            </h1>
                        </header>
                        
                        <div class="popupContent">

                            {{if feature.image.src}}
                            <figure class="pattern-light">
                                {{if feature.url}}<a href="{{:feature.url}}">{{/if}}
                                <img src="{{:feature.image.src}}" width="{{:feature.image.width}}" height="{{:feature.image.height}}" />
                                {{if feature.url}}</a>{{/if}}
                                {{if feature.image.caption}}
                                <figcaption>
                                    {{:feature.image.caption}}
                                </figcaption>
                                {{/if}}
                            </figure>
                            {{/if}}
                            <div class="summary">
                                <h2>
                                    {{:feature.name}}
                                </h2>
                                <p>
                                {{:feature.summary}}
                                </p>
                                {{if feature.url}}
                                    <a href="{{:feature.url}}" title="">Read more...</a>
                                {{/if}}
                                
                                <div class="detail">
                                    {{if feature.weather.text}}
                                        <abbr class="weather" title="{{:feature.weather.text}}">
                                            <i class="{{:feature.weather.icon}}"></i>
                                        </abbr>
                                    {{/if}}
                                    {{if feature.temp }}
                                        <abbr class="temp" title="{{:feature.temp}} degrees Celcius">
                                            <i class="wi-thermometer-exterior"></i>
                                        </abbr>

                                    {{/if}}
                                    {{if feature.port }}
                                        <abbr class="port" title="In port">
                                            <i class="fa fa-anchor"></i>
                                        </abbr>
                                    {{else}}    
                                        <abbr class="travelling" title="Travelling">
                                            <i class="fa fa-compass"></i>
                                        </abbr>
                                    {{/if}}
                                </div>
                            </div>
                            
                        </div>
                        
                        <footer>
                        
                            {{if feature.location}}
                            <p class="location">
                                {{:feature.location}}
                            </p>
                            {{/if}}
                                    
                            <div class="meta">
                            
                                <time datetime="{{:feature.timestamp}}">
                                    <abbr title="{{:feature.timestamp}}">{{:humanTime}}</abbr>
                                </time>
                            
                            {{if prev || next }}
                                <nav>
                                    <button {{if prev === false}} disabled="disabled" {{/if}}class="prev" data-direction="prev" data-trigger-index="{{:prev}}"><i class="fa fa-angle-left"></i></button>
                                    <button {{if next === false}} disabled="disabled" {{/if}}class="next" data-direction="next" data-trigger-index="{{:next}}"><i class="fa fa-angle-right"></i></button>
                                </nav>
                            {{/if}}
                            
                            </div>
                            
                        </footer>
                    
                    </article>
                </script>
                
                <div id="map">
                </div>
            </div>
        </section>
        <footer class="map-footer">
            &COPY; Greenpeace | 2013 <a href="#">Legal</a>
        </footer>
        
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js">\x3C/script>');</script>

        <script src="js/leaflet.js"></script>
        <script src="js/plugins.js"></script>
        
        <script src="js/app.js"></script>

        <!-- Analytics -->
    </body>
</html>
    